.mainContent {
  margin-top: 50px;
}

.mainPhoto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 10px;
  background-color: #e8e9eb;
}

.photoGallery {
  display: flex;
  flex-direction: column;
  width: 730px;
}

#centerPhoto {
  aspect-ratio: 16/9;
  width: 90%;
}

.photoArray {
  width: 100%;
  height: 100px;
  display: flex;
  overflow-y: hidden;
  margin-top: 10px;
}

#subImage {
  aspect-ratio: 16/9;
  height: 100px;
  padding: 0 20px 0 20px;
}
#subImage:hover {
  scale: 1.01;
  cursor: pointer;
}

#arrows:hover {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dealerInfo {
  border: 0.01em solid black;
  padding: 15px;
}
#dealerName {
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.rightSide {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
#msg,
#phone {
  font-size: 19px;
  text-align: center;
  border-radius: 20px 0px 20px 0px;
  margin: 15px 0 15px 0;
  padding: 10px;
  font-weight: 600;
}

#msg:hover,
#phone:hover {
  cursor: pointer;
}

#msg {
  background-color: #ff0000;
  color: white;
  border: 0.01em solid #c20000;
}
#phone {
  border: 0.01em solid #0593ff;
  color: #0593ff;
}

#dealerType {
  color: #99ddff;
  font-size: 21px;
  text-shadow: 2px 2px 5px rgba(16, 227, 83, 0.3);
}

#dealerHistory {
  color: #ff0000;
  font-size: 21px;
  text-shadow: 2px 2px 5px #b0b0b0;
}

#location {
  font-size: 19px;
  color: #bababa;
}

.under {
  max-width: 1080px;
  margin: auto;
  margin-top: 30px;
}
