.FilterContainer {
  display: flex;
  justify-content: center;
}
.FilterContainer > .container > .top {
  display: flex;
  flex-wrap: wrap;
  height: 80px;
}

.FilterContainer > .container > .top > .spacer {
  border-left: 1px solid grey;
  height: 80px;
}

.FilterContainer > .container > .top > .topLabel {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  padding: 0 40px 0 40px;
  align-items: center;
}

.FilterContainer > .container > .top > .topLabel:hover {
  background-color: aquamarine;
}

.middleLabel {
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 150px;
  position: relative;
}
