.FilterContainer {
  display: flex;
  justify-content: center;
}

.containerSearch {
  margin-top: 25px;
  padding: 30px;
  border: 0.3em solid #313e56;
  border-radius: 15px 0 15px 15px;
}
.containerSearch > .top {
  display: flex;
  flex-wrap: wrap;
  height: 80px;
}
.spacer {
  width: 8px;
}
.topLabel {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  padding: 5px 40px 5px 40px;
  align-items: center;
  background: #313e56;
  justify-content: center;
  border-radius: 0 15px 0 15px;
}

.topLabel:hover {
  cursor: pointer;
  color: #a1e3ff;
}

.middleLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.filterContainer {
  display: flex;

  flex-wrap: wrap;
}

.filterLabel {
  width: 42%;
  margin: auto;
  padding: 20px 0 20px 0;
  float: left;
}

.filterButton {
  width: fit-content;
  margin: auto;
  font-size: 23px;
  background-color: #313e56;
  padding: 10px 50px 10px 50px;
  border-radius: 15px 0 15px 0;
  color: white;
  letter-spacing: 2px;
}

.filterButton:hover {
  cursor: pointer;
  background-color: #b1624e;
  transition: 0.2s;
}

.filterButton:active {
  background-color: grey;
}

#labelText {
  color: white;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 0px 2px 10px #313e56;
}
