.homelistContainer {
  margin: 50px 100px 0 100px;
}

.listContainer > .top {
  display: flex;
  gap: 20px;
  margin-left: 10px;
}

.listContainer > .bottom {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-height: 400px;
  justify-content: space-evenly;
  margin-top: 20px;
}

#viewIcons:hover {
  cursor: pointer;
}

#info {
  font-size: 17px;
}

#viewIcons1:hover,
#viewIcons2:hover {
  cursor: pointer;
}
