.homelistContainer {
  margin: 50px 100px 0 100px;
}

.listContainer > .top {
  display: flex;
  gap: 20px;
  margin-left: 10px;
}

.listContainer > .bottom {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

#viewIcons:hover {
  cursor: pointer;
}
